{% load thumbnail %}
{% load custom_filters %}
{% load custom_event_filters %}

{% load custom_page_filters %}

    <!-- Card START -->
    <div class="card">
        <div class="h-200px rounded-top" style="background-image:url(https://clubs4fun.s3.amazonaws.com/static/{{ event_date.event.clubevent.image }}); background-position: center; background-size: cover; background-repeat: no-repeat;">
        </div>
        <!-- Card body START -->
        <div class="card-body pt-0">
          <div class="d-sm-flex align-items-start text-center text-sm-start">
            <div class="mt-sm-3">
              <!-- Info -->
              <h1 class="h4 mb-1 color-white">{{ event_date.event}}</h1>
              <h2 class="h6 mb-1 text-small">{{ event_date.event.clubevent.location}}.{{ event_date.event.clubevent.location.town_city}}. </h2>
              <h3 class="h6 mb-1 text-small">{{ event_date.date|date}}. {{ event_date.start_time|time}} - {{ event_date.end_time|time}}</h2>
              {% comment %} <p>{% avg_rating page.id %} {% autoescape off %}{% avg_stars page.id %}{% endautoescape %} ({% review_count page.id %})</p> {% endcomment %}
            </div>
            <!-- Button -->
            <div class="d-flex mt-3 justify-content-center ms-sm-auto">
              {% if request.user.is_authenticated %}
                {% if page.user.username == request.user.username %}
                  <a href="/edit_page/{{page.id}}/{{page.page_type|slugify}}/{{page.slug}}" >
                    <button class="btn btn-danger-soft me-2" type="button"> <i class="bi bi-pencil-fill pe-1"></i> Edit </button>
                  </a>
                {% else %}
                {% if request.user.profile.profile_type|can_attend:event_date.event.id %}
                {% comment %} {% if request.user.profile.profile_type == "MAN" and event_date.event.ot_men == '1' or request.user.profile.profile_type == "Woman" and event_date.event.ot_women == '1' or request.user.profile.profile_type == "MF_COUPLE" and event_date.event.ot_mfcouples == '1' or request.user.profile.profile_type == "FF Couple" and event_date.event.ot_ffcouples == '1' or request.user.profile.profile_type == "MM Couple" and event_date.event.ot_mmcouples == '1' or request.user.profile.profile_type == "CD/TV" and event_date.event.ot_tvts == '1' or request.user.profile.profile_type == "TG/TS" and event_date.event.ot_tvts == '1' %} {% endcomment %}
                  {% if request.user.id|is_on_guestlist:event_date.id %}
                  <a class="btn btn-warning mb-2 btn-sm" href="/remove-from-guestlist/{{guest.id}}">Remove from Guestlist {{gl_id}} </a>&nbsp
                  {% else %}
                  <a class="btn btn-primary mb-2 btn-sm" href="/join-guestlist/{{event_date.id}}">Join Guestlist </a>&nbsp
                  {% endif %}
                {% endif %}
                {%endif%}
              <div class="dropdown">
                <!-- Card share action menu -->
                <button class="icon-sm btn btn-light btn-sm" type="button" id="profileAction2" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots"></i>
                </button>
                <!-- Card share action dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                  <li><a class="dropdown-item" href="/new_page_post/{{page.id}}"> <i class="bi bi-bookmark fa-fw pe-2"></i>New Event Post</a></li>
                  <li><a class="dropdown-item" href="/add_host/{{event.id}}"> <i class="bi bi-person fa-fw pe-2"></i>Add Event Host</a></li>
                  {% if event_date.event.clubevent.location.user.username == request.user.username %}
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/add-non-member/{{event_date.id}}/{{event_date.event|slugify}}.html?next=/add-non-member/{{event_date.id}}/{{event_date.event|slugify}}.html"> <i class="bi bi-person fa-fw pe-2"></i>Add non-member</a></li>
                  {% endif %}
                  
                  {% comment %} <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Share page in a message</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-file-earmark-pdf fa-fw pe-2"></i>Save your profile to PDF</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-lock fa-fw pe-2"></i>Lock profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-gear fa-fw pe-2"></i>Profile settings</a></li> {% endcomment %}
                </ul>
              </div>
                {% endif %}
            </div>
          </div>
          <!-- List profile -->
        </div>
        <!-- Card body END -->
        {% comment %} <div class="card-footer mt-3 pt-2 pb-0"> {% endcomment %}
          <!-- Nav profile pages -->
          {% comment %} <ul class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0">
            <li class="nav-item"> <a class="nav-link {{ feed_active }}" href="{% url 'pages:page_feed' page.page_type|slugify page.slug %}#page_menu">&nbsp Feed </a> </li>
            <li class="nav-item"> <a class="nav-link {{ about_active }}" href="{% url 'pages:detail' page.page_type|slugify page.slug %}#page_menu"> About </a> </li>
            <li class="nav-item"> <a class="nav-link {{ gallery_active }}" href="#page_menu"> Gallery</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#page_menu"> Events</a> </li>
            <li class="nav-item"> <a class="nav-link {{ reviews_active }}" href="{% url 'pages:page_reviews' page.page_type|slugify page.slug %}#page_menu"> Reviews</a> </li>
          </ul> {% endcomment %}
      {% comment %} </div> {% endcomment %}
      </div>
      <!-- Card END -->
