<ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start">
    <li class="nav-item" role="presentation"> <a class="nav-link active" href="{% url 'events:events' %}" aria-selected="true" role="tab">&nbsp All Events </a> </li>
    <li class="nav-item" role="presentation"> <a class="nav-link" href="{% url 'events:club-events' %}" aria-selected="false" role="tab" tabindex="-1"> Club Events </a> </li>
    <li class="nav-item" role="presentation"> <a class="nav-link" href="{% url 'events:social-events' %}" aria-selected="false" role="tab" tabindex="-1"> Socials </a> </li>
    <li class="nav-item" role="presentation"> <a class="nav-link" href="{% url 'events:swinger-festivals' %}" aria-selected="false" role="tab" tabindex="-1"> Festivals </a> </li>
    <li class="nav-item" role="presentation"> <a class="nav-link" href="{% url 'events:list-meets' %}" aria-selected="false" role="tab" tabindex="-1"> Meets </a> </li>
</ul>