
<a class="btn btn-xs btn-primary mt-n3" href="/event/{{event.id}}">Social </a>
<h6 class="mt-3"> <a href="/{{event.event.event_type}}/{{event.id}}/{{event.date|date:"Y-m-d"}}/{{event.event.title|slugify}}.html"> {{ event.event.title }} </a> </h6>
{% comment %} <h6 class="mt-3"> <a href="/swinger-club-event/{{event.id}}/{{event.event.location.slug}}/{{event.date|date:"Y-m-d"}}/{{event.event.title|slugify}}.html"> {{ event.event.title }} </a> </h6> {% endcomment %}
<!-- Date time -->
<p class="mb-0 small"> <i class="bi bi-calendar-check pe-1"></i> {{ event.date|date:"D, jS M, Y" }} at {{ event.start_time }} </p>
<p class="small"> <i class="bi bi-geo-alt pe-1"></i> {{ event.event.social.Location }} </p>
