{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load thumbnail %}

{% block title %}Add Event{% endblock title %}

{% block content %}

                <!-- Card feed item START -->
                <div class="card">
                    <!-- Card header START -->
                    <div class="card-header border-0 pb-0">
                        <h2> Join Guestlist</h2>
<p> You are about to join this guestlist. You can remain private by checking the box below.</p>
                    </div>                     
                    <!-- Card header END -->
                    <!-- Card body START -->
                    <div class="card-body">
                        <div class="form_group">
                            <form class="form-with-validation" method="post" enctype="multipart/form-data">


                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" value="Join Gustlist" class="btn btn-primary">

                                {% endblock %}
                            </form>
                        </div>
                    </div>
                </div>