{% extends 'base.html' %}

{% block title %}Club Swing | Events{% endblock title %}

{% block content %}
 <!-- Card START -->
          <div class="card h-100">
            <!-- Card header START -->
            <div class="card-header d-sm-flex align-items-center text-center justify-content-sm-between border-0 pb-0">
              <h1 class="h4 card-title">Discover Events</h1>
              <!-- Button modal -->
              </div>
            <!-- Card header START -->
            <!-- Card body START -->
            <div class="card-body">
              <!-- Tab nav line -->
              <ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start" role="tablist">
                <li class="nav-item" role="presentation"> <a class="nav-link active" data-bs-toggle="tab" href="#tab-1" aria-selected="true" role="tab">&nbsp All Events </a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab" href="#tab-2" aria-selected="false" role="tab" tabindex="-1"> Club Events </a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab" href="#tab-3" aria-selected="false" role="tab" tabindex="-1"> Socials </a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab" href="#tab-4" aria-selected="false" role="tab" tabindex="-1"> Festivals </a> </li>
                <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab" href="#tab-5" aria-selected="false" role="tab" tabindex="-1"> Meets </a> </li>
              </ul>
              <!-- Tab content START -->
              <div class="tab-content mb-0 pb-0">                
                <!-- Event top tab START -->
                <div class="tab-pane fade active show" id="tab-1" role="tabpanel">
                  <div class="row g-4">

                    <!-- Event Card Here -->
                    {% for event in event_list %}
                    {% include 'includes/event_dates.html' %}
                    {% endfor%}

                  </div>
                </div>
                <!-- Event top tab END -->
              </div>
            <!-- Tab content END -->
            </div>
          <!-- Card body END -->
          <div class="row mx-1 mx-md-4">
              <div class="col-4 text-start">
                {% if page_obj.has_previous %}
                    {% comment %} <a class="btn btn-small" href="?page=1">&laquo; first</a> {% endcomment %}
                    <a class="btn btn-small" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
              </div>      
              <div class="col-4 text-center text-middle my-auto">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </div>      
              <div class="col-4 text-end ">
                {% if page_obj.has_next %}
                    <a class="btn btn-small" href="?page={{ page_obj.next_page_number }}">next</a>
                    {% comment %} <a class="btn btn-small" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endcomment %}
                {% endif %}
              </div>
          </div>
          </div>
        <!-- Card END -->
{% endblock %}