{% extends "base.html" %}

{% load thumbnail %}

{% block title %}{{ event.name }} - Event{% endblock title %}

{% block content %}
{% comment %} 
{% include 'includes/page_head.html' with about_active="active" %} {% endcomment %}
    <!-- Card about item START -->
    {% comment %} <div class="card">
      <!-- Card header START -->
      <div class="card-header border-0 pb-0">
        <h4 class="card-title">{{ event.event}}</h4> 
      {{ event.date }}
      </div>
      <!-- Card header END -->
      <!-- Card body START -->
      <div class="card-body">
        <div class="row g-4 align-items-center">
          <div class="col-lg-6">
            <h5>Your Host</h5>
            {{ event.host_list }}
            <!-- Address START -->
            <h5>Event Location</h5>
            <p>
                <h6>{{ event.event.location.page_name }}</h6>
                {{ event.event.location.address1 }}<br>
                {% if event.event.location.address2 != None %}{{ event.event.location.address2 }}<br>{%endif%}
                {{event.event.location.county}}<br>
                {{event.event.location.town_city}}<br>
                {{event.event.location.post_code}}
            </p>
            <!-- Address END -->
          </div>
          <div class="col-lg-6">
            <!-- Map START -->     
            <a href="https://www.google.com/maps/dir/?api=1&destination={{event.event.location.page_name|urlencode}}+{{event.event.location.address1|urlencode}}+{{event.event.location.county|urlencode}}+{{event.event.location.post_code|urlencode}}" class="btn btn-primary btn-small">Get Directions</a>
            <!-- Map END -->
          </div>
        </div>{% endcomment %}
          {% comment %} <p><strong>{{ user.profile.intro|linebreaks}}</strong></p> {% endcomment %}
          {% comment %} <h5>Description</h5>
          <p>{{ event.event.description|linebreaks}}</p>
              <hr>
            <h5>Admission Fees</h5>
            <p>{{ event.event.admission_fees|linebreaks}}</p>
                <hr>
      </div>
      <!-- Card body END -->
    </div>
    <!-- Card feed item END -->  {% endcomment %}

<!-- New Card -->

<div class="col stack gap-4">
  <!-- Card START -->
  <div class="card card-body card-overlay-bottom border-0" style="background-image:url(https://clubs4fun.s3.amazonaws.com/static/{{ event_date.event.clubevent.image }}); background-position: center; background-size: cover; background-repeat: no-repeat;">
    <a href="https://clubs4fun.s3.amazonaws.com/static/{{ event_date.event.clubevent.image }}" class ="stretched-link"></a>
    <!-- Card body START -->
    <div class="row g-3 justify-content-between">
      <!-- Date START -->
      <div class="col-lg-2">
        <div class="bg-mode text-center rounded overflow-hidden p-1 d-inline-block">
          <h5 class="bg-primary p-2 text-white rounded-top lh-1">{{ event_date.date|date:"l" }}</h5>
          <h5 class="mb-0 py-2 lh-1">{{ event_date.date|date:"dS M" }}</h5>  
        </div>
      </div>
    </div>
    <!-- Event name START -->
    <div class="row g-3 justify-content-between align-items-center mt-5 pt-5 position-relative z-index-9">
      <div class="col-lg-9">
        <h1 class="h3 mb-1 text-white">{{ event_date.event}}</h1>
        {% comment %} <a class="text-white" href="https://themes.getbootstrap.com/store/webestica" target="_blank">https://themes.getbootstrap.com/store/webestica</a> {% endcomment %}
      </div>
      <!-- Button -->
      <div class="col-lg-3 text-lg-end">
        <a class="btn btn-primary" href="#!"> Add to Guestlist </a>
      </div>
    </div>
    <!-- Event name END -->
  </div>
  <!-- Card END -->
  
  <!-- Card About START -->
  <div class="card card-body">

  <!-- Related events START -->
  <div class="row g-4">
    <div class="col">
      <!-- Card START -->
        <div class="row  px=0">
          <h5 class="col mb-0 mx-0"><i class="bi bi-geo-alt pe-1"></i> Location</h5>
        </div>
        <div class="row mt-0 mx-0">
          <div class="col-sm-6">
            <p class="color-white"><strong>{{ event_date.event.clubevent.location }}</strong>, {{ event_date.event.clubevent.location.town_city }}, {{ event_date.event.clubevent.location.county }}, {{ event_date.event.clubevent.location.post_code }} </p>
            <!-- Button modal -->
          </div>
          <div class="col-sm-6 my-auto mx-auto px-auto">
              <a href="https://maps.google.co.uk/maps?q={{event_date.event.clubevent.location|urlencode}}+{{event_date.event.clubevent.location.address1|urlencode}}+{{event_date.event.clubevent.location.county|urlencode}}+{{event_date.event.clubevent.location.post_code|urlencode}}" class="btn btn-primary btn-small mx-auto mb-2" target="_blank">View Map </a> 
              <a href="https://www.google.com/maps/dir/?api=1&destination={{event_date.event.clubevent.location|urlencode}}+{{event_date.event.clubevent.location.address1|urlencode}}+{{event_date.event.clubevent.location.county|urlencode}}+{{event_date.event.clubevent.location.post_code|urlencode}}" class="btn btn-primary btn-small mx-auto mb-2" target="_blank">Get Directions</a>
          </div>
          <hr>
        <!-- Card END -->
      </div>
    </div>
  </div>
    <div class="row g-4">
      <!-- info -->
      <div class="col-12">
        <p class="mb-0">{{ event_date.event.description|linebreaks}}</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <!-- Timings -->
        <h5>Timings</h5>
        <p class="mb-0">{{ event_date.start_time|time}} - {{ event_date.end_time|time}}</p>
      </div>
      <!-- Entry Fees -->
      <div class="col-sm-6 col-lg-4">
        <h5>Entry fees</h5>
        <p class="small mb-0">{{ event_date.admission_fees|linebreaks }}</p>
      </div>
      <div class="col-sm-6 col-lg-4">
        <!-- Rating -->
        <ul class="d-flex list-unstyled mb-1">
          <li class="me-2">4.5</li>
          <li><i class="fa-solid fa-star text-warning"></i></li>
          <li><i class="fa-solid fa-star text-warning"></i></li>
          <li><i class="fa-solid fa-star text-warning"></i></li>
          <li><i class="fa-solid fa-star text-warning"></i></li>
          <li><i class="fa-solid fa-star-half-stroke text-warning"></i></li>
          <li class="ms-1 small">132 Ratings</li>
        </ul>
      </div>
      {% comment %} <div class="col-sm-6 col-lg-4">
        <!-- Interested -->
        <div class="d-flex">
          <h6> <i class="bi bi-hand-thumbs-up-fill text-success"></i> 50</h6>
          <p class="small">People have shown interest recently</p>
        </div>
        <button class="btn btn-success-soft btn-sm">Interested?</button>
      </div> {% endcomment %}
    </div>
    <hr>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h5>Your Hosts</h5>
        <!-- Avatar group START -->
        <ul class="avatar-group list-unstyled align-items-center">
          {% comment %} {{e.id}}{{event.eventhost.host_id}}
          {{event.event}} {% endcomment %}
          {{event.id}}{{event_date.event.eventhost.host}}
          {% for eventhost in event_date.event.eventhost %}
          {% comment %} {% for eventhost in hosts %} {% endcomment %}
          -
          {% thumbnail eventhost.image "100x100" crop="center" as im %}
              <img class="avatar-img rounded-circle border border-white border-3" src="{{ im.url }}" alt="{{ page.page_name }} | {{ page.page_type }} | Club Swing">
          {% endthumbnail %}
          {{eventhost.event.event.host_for}} - {{eventhost.host_id.profile}}{{eventhost.host_id.event.event}}
          {% endfor %}

          <li class="ms-4">
            <small> 148.9K people responded</small>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <!-- Avatar group END -->
        <div class="row g-2">
          <div class="col-sm-4">
            <!-- Visitors -->
            <div class="d-flex">
              <i class="bi bi-globe fs-4"></i>
              <div class="ms-3">
                <h5 class="mb-0">125</h5>
                <p class="mb-0">Visitors</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- Registred -->
            <div class="d-flex">
              <i class="bi bi-person-plus fs-4"></i>
              <div class="ms-3">
                <h5 class="mb-0">356</h5>
                <p class="mb-0">Registred</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <!-- Attendance -->
            <div class="d-flex">
              <i class="bi bi-people fs-4"></i>
              <div class="ms-3">
                <h5 class="mb-0">350</h5>
                <p class="mb-0">Attendance</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Card About END -->
</div>



{% endblock %}
