{% extends "base.html" %}

{% load thumbnail %}
{% load custom_event_filters %}

{% block title %}{{ event.name }} | Swingers Event | Club Swing{% endblock title %}

{% block content %}
{% include "includes/event_head.html"%}
<!-- Card about item START -->
    {% comment %} <div class="card">
      <!-- Card header START -->
      <div class="card-header border-0 pb-0">
        <h4 class="card-title">{{ event.event}}</h4> 
      {{ event.date }}
      </div>
      <!-- Card header END -->
      <!-- Card body START -->
      <div class="card-body">
        <div class="row g-4 align-items-center">
          <div class="col-lg-6">
            <h5>Your Host</h5>
            {{ event.host_list }}
            <!-- Address START -->
            <h5>Event Location</h5>
            <p>
                <h6>{{ event.event.location.page_name }}</h6>
                {{ event.event.location.address1 }}<br>
                {% if event.event.location.address2 != None %}{{ event.event.location.address2 }}<br>{%endif%}
                {{event.event.location.county}}<br>
                {{event.event.location.town_city}}<br>
                {{event.event.location.post_code}}
            </p>
            <!-- Address END -->
          </div>
          <div class="col-lg-6">
            <!-- Map START -->     
            <a href="https://www.google.com/maps/dir/?api=1&destination={{event.event.location.page_name|urlencode}}+{{event.event.location.address1|urlencode}}+{{event.event.location.county|urlencode}}+{{event.event.location.post_code|urlencode}}" class="btn btn-primary btn-small">Get Directions</a>
            <!-- Map END -->
          </div>
        </div>{% endcomment %}
          {% comment %} <p><strong>{{ user.profile.intro|linebreaks}}</strong></p> {% endcomment %}
          {% comment %} <h5>Description</h5>
          <p>{{ event.event.description|linebreaks}}</p>
              <hr>
            <h5>Admission Fees</h5>
            <p>{{ event.event.admission_fees|linebreaks}}</p>
                <hr>
      </div>
      <!-- Card body END -->
    </div>
    <!-- Card feed item END -->  {% endcomment %}

<!-- New Card -->

<div class="col stack gap-4">
  <!-- Card START -->

  <!-- Card END -->
  
  <!-- Card About START -->
  <div class="card card-body">
  <!-- Related events START -->
  <div class="row g-4">
    <div class="col">
      <!-- Card START -->
        <div class="row mt-0 mx-0">
          <div class="col-sm-8">
          <h5 class="col mb-0 mx-0"><i class="bi bi-geo-alt pe-1"></i> {{ event_date.event.clubevent.location }}</h5>
            <p class="color-white">{{ event_date.event.clubevent.location.town_city }}, {{ event_date.event.clubevent.location.county }}, {{ event_date.event.clubevent.location.post_code }} </p>
            <!-- Button modal -->
          </div>
          <div class="col-sm-4 px-auto text-center">
              <a href="https://maps.google.co.uk/maps?q={{event_date.event.clubevent.location|urlencode}}+{{event_date.event.clubevent.location.address1|urlencode}}+{{event_date.event.clubevent.location.county|urlencode}}+{{event_date.event.clubevent.location.post_code|urlencode}}" class="mx-auto btn btn-primary btn-sm mx-auto mb-2" target="_blank">View Map </a> 
              <a href="https://www.google.com/maps/dir/?api=1&destination={{event_date.event.clubevent.location|urlencode}}+{{event_date.event.clubevent.location.address1|urlencode}}+{{event_date.event.clubevent.location.county|urlencode}}+{{event_date.event.clubevent.location.post_code|urlencode}}" class="btn btn-primary btn-sm mx-auto mb-2" target="_blank">Get Directions</a>
          </div>
          <hr>
        <!-- Card END -->
      </div>
    </div>
  </div>
    <div class="row g-4">
      <!-- info -->
      {% comment %} <div class="col-12">
        <p class="mb-0">{{ event_date.event.description|linebreaks}}</p>
      </div> {% endcomment %}
      <!-- Entry Fees -->
      <div class="col">
        <h5>Overview</h5>
        <p class="mb-0">{{ event_date.event.description|linebreaks}}</p>
        {% comment %} <h5>Entry fees</h5>
        <p class="small mb-0">{{ event_date.admission_fees|linebreaks }}</p> {% endcomment %}
      </div>
      {% comment %} <div class="col-sm-6 col-lg-4">
        <!-- Rating -->
        <ul class="d-flex list-unstyled mb-1">
          <li class="me-2">4.5</li>
          <li><i class="fa-solid fa-star text-warning"></i></li>
          <li><i class="fa-solid fa-star text-warning"></i></li>
          <li><i class="fa-solid fa-star text-warning"></i></li>
          <li><i class="fa-solid fa-star text-warning"></i></li>
          <li><i class="fa-solid fa-star-half-stroke text-warning"></i></li>
          <li class="ms-1 small">132 Ratings</li>
        </ul>
      </div> {% endcomment %}
    </div>
    <hr>
    <div class="row align-items-center">
      <!-- Host group START-->
       {% if hosts %}
      <div class="col-lg-6">
        <h5>Your Hosts</h5>
        {% for host in hosts %}
        <a href="/profile/{{host.profile.user}}/">
          <div class="avatar avatar-sm mb-3">
            {% thumbnail host.profile.image "50x50" crop="center" as im %}
              <img class="avatar-img rounded-circle border border-white border-3" src="{{ im.url }}" alt="{{ page.page_name }} | {{ page.page_type }} | Club Swing">
            {% endthumbnail %}
          </div>
          <span class = "color-white">{{host}}&nbsp</span>
        
        </a>
        {% endfor %}
      </div>
      {%endif%}
      <!-- Host group END -->
      <div class="col=lg-6">
        <div class="row g-2">
          <h5>This event is open to</h5>
          {% if event_date.event.ot_men %}
          <div class="col-3">
            <!-- Visitors -->
            <div class="d-flex">
              <i class="fa-solid fa-mars"></i>
            </div>
                <p class="mb-0">Men</p>
          </div>
          {%endif%}
          {% if event_date.event.ot_women %}
          <div class="col-3">
            <!-- Registred -->
            <div class="d-flex">
              <i class="fa-solid fa-venus"></i>
            </div>
                <p class="mb-0">Women</p>
          </div>
          {%endif%}
          {% if event_date.event.ot_mfcouples %}
          <div class="col-3">
            <!-- Registred -->
            <div class="d-flex">
              <i class="fa-solid fa-venus-mars"></i>
            </div>
                <p class="mb-0">Couples</p>
          </div>
          {%endif%}
          {% if event_date.event.ot_tvts %}
          <div class="col-3">
            <!-- Attendance -->
            <div class="d-flex">
              <i class="fa-solid fa-transgender"></i>
            </div>
                <p class="mb-0">Trans</p>
          </div>
          {%endif%}
        </div>
        <hr>
        <div class="row g-2">
          <h5>Guestlist</h5>
          <div class="col-3">
            <!-- Visitors -->
            <div class="d-flex">
              <i class="fa-solid fa-mars"></i>
              <div class="ms-3">
                <h5 class="mb-0">{% guestlist_man_count event_date.id %}</h5>
              </div>
            </div>
                <p class="mb-0">Men</p>
          </div>
          <div class="col-3">
            <!-- Registred -->
            <div class="d-flex">
              <i class="fa-solid fa-venus"></i>
              <div class="ms-3">
                <h5 class="mb-0">{% guestlist_woman_count event_date.id %}</h5>
              </div>
            </div>
                <p class="mb-0">Women</p>
          </div>
          <div class="col-3">
            <!-- Registred -->
            <div class="d-flex">
              <i class="fa-solid fa-venus-mars"></i>
              <div class="ms-3">
                <h5 class="mb-0">{% guestlist_couple_count event_date.id %}</h5>
              </div>
            </div>
                <p class="mb-0">Couples</p>
          </div>
          <div class="col-3">
            <!-- Attendance -->
            <div class="d-flex">
              <i class="fa-solid fa-transgender"></i>
              <div class="ms-3">
                <h5 class="mb-0">{% guestlist_trans_count event_date.id %}</h5>
              </div>
            </div>
                <p class="mb-0">Trans</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-body">
      <div class="d-flex mb-0">
        <div class="d-grid gap-2 col-6 mx-auto">
          <a class = "btn btn-outline-primary btn-sm" href="#">View Guestlist</a>
        </div>
      </div>
    </div>

  </div>
  <!-- Card About END -->
</div>



{% endblock %}
{% block rightbar %}

<!-- Card feed item START -->
<div class="card">
  <!-- Card header START -->
  <div class="card-header d-flex justify-content-between border-0 pb-0">
    <h5 class="card-title">Timings</h5>
 </div>
  <!-- Card header END -->
  <!-- Card body START -->
  <div class="card-body">
        <!-- Timings item START -->
       
          {{ event_date.start_time|time}} - {{ event_date.end_time|time}}
        
        <!-- Timings items end -->
  </div>
  <!-- Card body END -->
</div>
<!-- Card feed item END -->

      <!-- Card feed item START -->
      <div class="card">
        <!-- Card header START -->
        <div class="card-header d-flex justify-content-between border-0 pb-0">
          <h5 class="card-title">Admission Fees</h5>
       </div>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body">
              <!-- Entry Fees item START -->
        <p class="small mb-0">{{ event_date.admission_fees|linebreaks }}</p>
              <!-- Entry Fees items end -->
        </div>
        <!-- Card body END -->
      </div>
      <!-- Card feed item END -->




{% endblock %}