{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load thumbnail %}

{% block title %}Add Event{% endblock title %}

{% block content %}

                <!-- Card feed item START -->
                <div class="card">
                    <!-- Card header START -->
                    <div class="card-header border-0 pb-0">
                        <h2> Remove from Guestlist</h2>
<p> You are about to remove yourself from this guestlist. Click the button below to continue.</p>
                    </div>                     
                    <!-- Card header END -->
                    <!-- Card body START -->
                    <div class="card-body">
                        <div class="form_group">
                            <form class="form-with-validation" method="post" enctype="multipart/form-data">


                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" value="Remove from Gustlist" class="btn btn-warning">

                                {% endblock %}
                            </form>
                        </div>
                    </div>
                </div>