{% extends "base.html" %}
{% comment %} {% extends "profile_head.html" %} {% endcomment %}

{% load thumbnail %}

{% block title %}{{user.username}} - Profile{% endblock title %}

{% block content %}
{% if user.is_active == True %}
{% include 'includes/profile_head.html' with about_active="active" target_user=user.id %}

      <!-- Card feed item START -->
      <div class="card">
        <!-- Card header START -->
        <div class="card-header border-0 pb-0">
          <h5 class="card-title"> Profile Info</h5> 
        </div>
        <hr>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body mt-0 pt-0">
            <p><strong>{{ user.profile.intro|linebreaks}}</strong></p>
            <p>{{ user.profile.description|linebreaks}}</p>
            <hr>
          <div class="row g-4">
            <table class="table table-sm">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">{{user.profile.name}}</th>
                <th scope="col">
                  {%if user.profile.profile_type == 'COUPLE_MF' or user.profile.profile_type == 'COUPLE_MM' or user.profile.profile_type == 'COUPLE_FF' %}
                  {{user.profile.name2}}
                  {%endif%}&nbsp
                </th>
              </tr>
            </thead>
            
            <tbody>
              <tr>
                <th scope="row">Age</th>
                <td>{{user.profile.age}}</td>
                <td>
                  {%if user.profile.profile_type == 'COUPLE_MF' or user.profile.profile_type == 'COUPLE_MM' or user.profile.profile_type == 'COUPLE_FF' %}
                  {{user.profile.age2}}
                  {%endif%}&nbsp
                </td>
              </tr>
              <tr>
                <th scope="row">Sexuality</th>
                <td>{{user.profile.sexuality}}</td>
                <td>
                  {%if user.profile.profile_type == 'COUPLE_MF' or user.profile.profile_type == 'COUPLE_MM' or user.profile.profile_type == 'COUPLE_FF' %}
                  {{user.profile.sexuality2}}
                  {%endif%}&nbsp
                </td>
              </tr>
              <tr>
                <th scope="row">Height</th>
                <td>{{user.profile.height}}</td>
                <td>
                  {%if user.profile.profile_type == 'COUPLE_MF' or user.profile.profile_type == 'COUPLE_MM' or user.profile.profile_type == 'COUPLE_FF' %}
                  {{user.profile.height2}}
                  {%endif%}&nbsp
                </td>
              </tr>
              <tr>
                <th scope="row">Body Type:</th>
                <td>{{user.profile.body_type}}</td>
                <td>
                  {%if user.profile.profile_type == 'COUPLE_MF' or user.profile.profile_type == 'COUPLE_MM' or user.profile.profile_type == 'COUPLE_FF' %}
                  {{user.profile.body_type2}}
                  {%endif%}&nbsp
                </td>
              </tr>
              <tr>
                <th scope="row">Smoke/Vape</th>
                <td>{{user.profile.smoke}}</td>
                <td>
                  {%if user.profile.profile_type == 'COUPLE_MF' or user.profile.profile_type == 'COUPLE_MM' or user.profile.profile_type == 'COUPLE_FF' %}
                  {{user.profile.smoke2}}
                  {%endif%}&nbsp
                </td>
              </tr>
              <tr>
                <th scope="row">Drink</td>
                  <td>{{user.profile.drink}}</td>
                  <td>
                    {%if user.profile.profile_type == 'COUPLE_MF' or user.profile.profile_type == 'COUPLE_MM' or user.profile.profile_type == 'COUPLE_FF' %}
                    {{user.profile.drink2}}
                    {%endif%}&nbsp
                  </td>
              </tr>
            </tbody>
            </table>
            {% comment %} {% for lf in lookingfor %} {% endcomment %}
             {% comment %} {% endfor %} {% endcomment %}
              
            {% comment %} <div class="col-6">
              <!-- Person 1 START -->
              <h6>{{user.profile.name}}</h6>
                <p>
                  Age: <strong> {{ user.profile.age }}</strong><br>
                  Sexuality: <strong> {{user.profile.sexuality }} </strong><br>
                  Height: <strong> {{user.profile.height}} </strong><br>
                  Body Type: <strong> {{user.profile.body_type}} </strong><br>
                  Smoke/Vape: <strong> {{user.profile.smoke}} </strong><br>
                  Drink: <strong> {{user.profile.drink}} </strong><br>
                </p>
              <!-- Person 1 END -->
            </div>
            <div class="col-6">
              <!-- Person 2 START -->  
               {% if user.profile.profile_type == "MF Couple" or user.profile.profile_type == "FF Couple" or user.profile.profile_type == "MM Couple" %}               
               <h6>{{user.profile.name2}}</h6>
                <p>
                  Age: <strong> {{ user.profile.age2 }}</strong><br>
                  Sexuality: <strong> {{user.profile.sexuality2 }} </strong><br>
                  Height: <strong> {{user.profile.height2}} </strong><br>
                  Body Type: <strong> {{user.profile.body_type2}} </strong><br>
                  Smoke/Vape: <strong> {{user.profile.smoke2}} </strong><br>
                  Drink: <strong> {{user.profile.drink}} </strong><br>
                </p>
              {% endif %}
              <!-- Person 2 END -->
            </div> {% endcomment %}
          </div>
        </div>
        <!-- Card body END -->
      </div>
      <!-- Card feed item END -->

      <!-- Card feed item START -->
      <div class="card">
        <!-- Card header START -->
        <div class="card-header d-flex justify-content-between border-0 pb-0">
          <h5 class="card-title">Looking For</h5>
          
          {% if user.username == request.user.username %}
          <a class="btn btn-primary-soft btn-sm" href="/edit_looking_for/"> Edit</a>
          {% endif %}
        </div>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body">
              <!-- Looking for item START -->

              {% if lookingfor.men %}<button type="button" class="btn btn-secondary-soft mt-2 btn-sm rounded-pill">Men</button>{% endif %}
              {% if lookingfor.women %}<button type="button" class="btn btn-secondary-soft mt-2 btn-sm rounded-pill">Women</button>{% endif %}
              {% if lookingfor.mf_couple %}<button type="button" class="btn btn-secondary-soft mt-2 btn-sm rounded-pill">MF Couples</button>{% endif %}
              {% if lookingfor.ff_couple %}<button type="button" class="btn btn-secondary-soft mt-2 btn-sm rounded-pill">FF Couples</button>{% endif %}
              {% if lookingfor.mm_couple %}<button type="button" class="btn btn-secondary-soft mt-2 btn-sm rounded-pill">MM Couples</button>{% endif %}
              {% if lookingfor.cd_tv %}<button type="button" class="btn btn-secondary-soft mt-2 btn-sm rounded-pill">CD/TV</button>{% endif %}
              {% if lookingfor.tg_ts %}<button type="button" class="btn btn-secondary-soft mt-2 btn-sm rounded-pill">TG/TS</button>{% endif %}<br>
              {% if lookingfor.smokers %}<button type="button" class="btn btn-success-soft mt-2 btn-sm rounded-pill">Will meet smokers</button>
              {% else %}<button type="button" class="btn btn-danger-soft mt-2 btn-sm rounded-pill">Will NOT meet smokers</button>{% endif %}<br>
              {% if lookingfor.can_travel %}<button type="button" class="btn btn-success-soft mt-2 btn-sm rounded-pill">Can travel</button>
              {% else %}<button type="button" class="btn btn-danger-soft mt-2 btn-sm rounded-pill">Can NOT travel</button>{% endif %}
              {% if lookingfor.can_accom %}<button type="button" class="btn btn-success-soft mt-2 btn-sm rounded-pill">Can accomodate</button>
              {% else %}<button type="button" class="btn btn-danger-soft mt-2 btn-sm rounded-pill">Can NOT accomodate</button>{% endif %}
           

              
              {% comment %} {% if lookingfor.men %}Men, {% endif %}
              {% if lookingfor.women %}Women, {% endif %}
              {% if lookingfor.mf_couple %}MF Couples, {% endif %}
              {% if lookingfor.ff_couple %}FF Couples, {% endif %}
              {% if lookingfor.mm_couple %}MM Couples, {% endif %}
              {% if lookingfor.cd_tv %}CD/TV, {% endif %}
              {% if lookingfor.tg_ts %}TG/TS, {% endif %}<br><br>
              {% if lookingfor.smokers %}Will meet smokers, 
              {% else %}Will NOT meet smokers, {% endif %}<br><br>
              {% if lookingfor.can_travel %}Can travel, 
              {% else %}CANNOT travel, {% endif %}
              {% if lookingfor.can_accom %}Can accomodate. 
              {% else %}CANNOT accomodate.{% endif %} {% endcomment %}
           

              <!-- Looking for items end -->
        </div>
        <!-- Card body END -->
      </div>
      <!-- Card feed item END -->

      <!-- Card feed item START -->
      <div class="card">
        <!-- Card header START -->
        <div class="card-header d-flex justify-content-between border-0 pb-0">
          <h5 class="card-title">Interests</h5>
          
          {% if user.username == request.user.username %}
          <a class="btn btn-primary-soft btn-sm" href="#!"> Edit</a>
          {% endif %}
        </div>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body">
              <!-- Interests item START -->

              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Anal</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Gangbangs</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Orgies</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Oral Giving</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Oral Receiving</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">BDSM</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Threesoms</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Bi MMF's</button>
               <!-- Interests item END -->
        </div>
        <!-- Card body END -->
      </div>
      <!-- Card feed item END -->

      <div class="card">
        <!-- Card body START -->
        <div class="card-body">
          Last Updated - {{user.profile.last_updated}}
        </div>
        <!-- Card body END -->
      </div>
{% else %}

 <h6> User is inactive </h6>

{% endif %}

{% endblock %}