{% extends "base.html" %}
{% comment %} {% extends "profile_head.html" %} {% endcomment %}

{% load thumbnail %}

{% block title %}{{username}} - Profile{% endblock title %}

{% block content %}
{% if user.is_active == True %}
{% include 'includes/profile_head.html' with about_active="active" target_user=user.id %}

      <!-- Card feed item START -->
      <div class="card">
        <!-- Card header START -->
        <div class="card-header border-0 pb-0">
          <h5 class="card-title"> Profile Info</h5> 
        </div>
        <hr>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body mt-0 pt-0">
            <p><strong>{{ user.profile.intro|linebreaks}}</strong></p>
            <p>{{ user.profile.description|linebreaks}}</p>
            <hr>
          <div class="row g-4">
            <div class="col-sm-6">
              <!-- Person 1 START -->
              <h6>{{user.profile.name}}</h6>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Age: <strong> {{ user.profile.age }}</strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Sexuality: <strong> {{user.profile.sexuality }} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Height: <strong> {{user.profile.height}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Body Type: <strong> {{user.profile.body_type}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Smoke/Vape: <strong> {{user.profile.smoke}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Drink: <strong> {{user.profile.drink}} </strong>
                </p>
              <!-- Person 1 END -->
            </div>
            <div class="col-sm-6">
              <!-- Person 2 START -->  
               {% if user.profile.profile_type == "MF Couple" or user.profile.profile_type == "FF Couple" %}               
               <h6>{{user.profile.name2}}</h6>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Age: <strong> {{ user.profile.age2 }}</strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Sexuality: <strong> {{user.profile.sexuality2 }} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Height: <strong> {{user.profile.height2}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Body Type: <strong> {{user.profile.body_type2}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Smoke/Vape: <strong> {{user.profile.smoke2}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Drink: <strong> {{user.profile.drink}} </strong>
                </p>
              {% endif %}
              <!-- Person 2 END -->
            </div>
          </div>
        </div>
        <!-- Card body END -->
      </div>
      <!-- Card feed item END -->

      <!-- Card feed item START -->
      <div class="card">
        <!-- Card header START -->
        <div class="card-header d-sm-flex justify-content-between border-0 pb-0">
          <h5 class="card-title">Interests</h5>
          <a class="btn btn-primary-soft btn-sm" href="#!"> See all</a>
        </div>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body">
              <!-- Interests item START -->
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Anal</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Gangbangs</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Orgies</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Oral Giving</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Oral Receiving</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">BDSM</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Threesoms</button>
              <button type="button" class="btn btn-primary-soft mt-2 btn-sm rounded-pill">Bi MMF's</button>
               <!-- Interests item END -->
        </div>
        <!-- Card body END -->
      </div>
      <!-- Card feed item END -->

      <div class="card">
        <!-- Card body START -->
        <div class="card-body">
          Last Updated - {{user.profile.last_updated}}
        </div>
        <!-- Card body END -->
      </div>
{% else %}

 <h6> User is inactive </h6>

{% endif %}

{% endblock %}