{% extends "base.html" %}
{% comment %} {% extends "profile_head.html" %} {% endcomment %}

{% load thumbnail %}

{% block title %}{{username}} - Profile{% endblock title %}

{% block content %}

{% include 'includes/profile_head.html' %}

      <!-- Card feed item START -->
      <div class="card">
        <!-- Card header START -->
        <div class="card-header border-0 pb-0">
          <h5 class="card-title"> Profile Info</h5> 
        </div>
        <hr>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body mt-0 pt-0">
            <p><strong>{{ user.profile.intro|linebreaks}}</strong></p>
            <p>{{ user.profile.description|linebreaks}}</p>
            <hr>
          <div class="row g-4">
            <div class="col-sm-6">
              <!-- Person 1 START -->
              <h6>{{user.profile.name}}</h6>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Age: <strong> {{ user.profile.age }}</strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Sexuality: <strong> {{user.profile.sexuality }} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Height: <strong> {{user.profile.height}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Body Type: <strong> {{user.profile.body_type}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Smoke/Vape: <strong> {{user.profile.smoke}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Drink: <strong> {{user.profile.drink}} </strong>
                </p>
              <!-- Person 1 END -->
            </div>
            <div class="col-sm-6">
              <!-- Person 2 START -->  
               {% if user.profile.profile_type == "MF Couple" or user.profile.profile_type == "FF Couple" %}               
               <h6>{{user.profile.name2}}</h6>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Age: <strong> {{ user.profile.age2 }}</strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Sexuality: <strong> {{user.profile.sexuality2 }} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Height: <strong> {{user.profile.height2}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Body Type: <strong> {{user.profile.body_type2}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Smoke/Vape: <strong> {{user.profile.smoke2}} </strong>
                </p>
                <p class="mb-0">
                  <i class="bi bi-calendar-date fa-fw me-2"></i> Drink: <strong> {{user.profile.drink}} </strong>
                </p>
              {% endif %}
              <!-- Person 2 END -->
            </div>
          </div>
        </div>
        <!-- Card body END -->
      </div>
      <!-- Card feed item END -->

      <!-- Card feed item START -->
      <div class="card">
        <!-- Card header START -->
        <div class="card-header d-sm-flex justify-content-between border-0 pb-0">
          <h5 class="card-title">Interests</h5>
          <a class="btn btn-primary-soft btn-sm" href="#!"> See all</a>
        </div>
        <!-- Card header END -->
        <!-- Card body START -->
        <div class="card-body">
          <div class="row g-4">
            <div class="col-sm-6 col-lg-4">
              <!-- Interests item START -->
              <div class="d-flex align-items-center position-relative">
                  <div class="avatar">
                    <img class="avatar-img" src="assets/images/logo/04.svg" alt="">
                  </div>
                  <div class="ms-2">
                    <h6 class="mb-0"> <a class="stretched-link" href="#"> Oracle </a></h6>
                    <p class="small mb-0">7,546,224 followers</p>
                  </div>
              </div>
              <!-- Interests item END -->
            </div>
            <div class="col-sm-6 col-lg-4">
              <!-- Interests item START -->
              <div class="d-flex align-items-center position-relative">
                  <div class="avatar">
                    <img class="avatar-img" src="assets/images/logo/13.svg" alt="">
                  </div>
                  <div class="ms-2">
                    <h6 class="mb-0"> <a class="stretched-link" href="#"> Apple </a></h6>
                    <p class="small mb-0">102B followers</p>
                  </div>
              </div>
              <!-- Interests item END -->
            </div>
            <div class="col-sm-6 col-lg-4">
              <!-- Interests item START -->
              <div class="d-flex align-items-center position-relative">
                  <div class="avatar">
                    <img class="avatar-img rounded-circle" src="assets/images/avatar/placeholder.jpg" alt="">
                  </div>
                  <div class="ms-2">
                    <h6 class="mb-0"> <a class="stretched-link" href="#"> Elon musk </a></h6>
                    <p class="small mb-0"> CEO and Product Architect of Tesla, Inc 41B followers</p>
                  </div>
              </div>
              <!-- Interests item END -->
            </div>
            <div class="col-sm-6 col-lg-4">
              <!-- Interests item START -->
              <div class="d-flex align-items-center position-relative">
                  <div class="avatar">
                    <img class="avatar-img" src="assets/images/events/04.jpg" alt="">
                  </div>
                  <div class="ms-2">
                    <h6 class="mb-0"> <a class="stretched-link" href="#"> The X Factor </a></h6>
                    <p class="small mb-0">9,654 followers</p>
                  </div>
              </div>
              <!-- Interests item END -->
            </div>
            <div class="col-sm-6 col-lg-4">
              <!-- Interests item START -->
              <div class="d-flex align-items-center position-relative">
                  <div class="avatar">
                    <img class="avatar-img rounded-circle" src="assets/images/logo/12.svg" alt="">
                  </div>
                  <div class="ms-2">
                    <h6 class="mb-0"> <a class="stretched-link" href="#"> Getbootstrap </a></h6>
                    <p class="small mb-0">8,457,224 followers</p>
                  </div>
              </div>
              <!-- Interests item END -->
            </div>
          </div>
        </div>
        <!-- Card body END -->
      </div>
      <!-- Card feed item END -->



{% endblock %}