{% extends "base.html" %}
{% load request_tag %}

{% load thumbnail %}

{% block title %}{{user.username}} - Profile{% endblock title %}

{% block content %}
<!-- Card START -->
{% if user.is_active == True %}
    {% include 'includes/profile_head.html' with feed_active="active" %}
    <!-- Card END -->

    <!-- Card feed item START -->
    <div id="posts-container">
        {% for post in posts %}
        {% include 'includes/post.html'%}
        <hr>
        {% endfor%}
    </div>
    <!-- Card feed item END -->
{%else%}
    <h6> Profile is inactive</h6>
{%endif%}
{% endblock %}
{% block rightbar %}
<h6>Active Users</h6>
    {% active_users in 10 minutes as user_list %}
    {% for user in user_list %}
        {{ user.username }}
    {% endfor %}
{% endblock %}