{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load thumbnail %}

{% block title %}{{username}} - Update Profile{% endblock title %}

{% block content %}
                <!-- Card feed item START -->
                <div class="card">
                    <!-- Card header START -->
                    <div class="card-header border-0 pb-0">
                        <h2>Update what you're looking for</h2>
                    </div>                     
                    <!-- Card header END -->
                    <!-- Card body START -->
                    <div class="card-body">
                        <div class="form_group" id="profile_form">
                            <form class="form-with-validation" method="post" >
                                {% csrf_token %}
                                {{ form|crispy }}
                                <input type="submit" value="Update" class="btn btn-primary">
                            </form>
                        </div>
                    </div>
                </div>

{% endblock %}

{% block scripts %}

<script>
    $(document).ready(function() {
    $("#id_outer_postcode").select2({dropdownParent: $('#div_id_outer_postcode')});
});
</script>
{{form.media}}
{% endblock %}