<ul class="nav nav-tabs nav-bottom-line justify-content-center justify-content-md-start">
    <li class="nav-item" role="presentation"> <a class="nav-link {{all_active}}" href="{% url 'pages:list' %}" aria-selected="true" > All </a> </li>
    <li class="nav-item" role="presentation"> <a class="nav-link {{clubs_active}}" href="{% url 'pages:clublist' %}" aria-selected="false"> Clubs </a> </li>
    <li class="nav-item" role="presentation"> <a class="nav-link" href="#tab-3" aria-selected="false" > Hotels </a> </li>
    <li class="nav-item" role="presentation"> <a class="nav-link" href="#tab-4" aria-selected="false" > Festivals </a> </li>
    <li class="nav-item" role="presentation"> <a class="nav-link" href="#tab-6" aria-selected="false" > Shops </a> </li>
  </ul>