{% load thumbnail %}
{% load custom_filters %}

{% load custom_page_filters %}

    <!-- Card START -->
    <div class="card">
        <div class="h-200px rounded-top" style="background-image:url(https://clubs4fun.s3.amazonaws.com/static/{{ page.cover_image }}); background-position: center; background-size: cover; background-repeat: no-repeat;">
        </div>
        <!-- Card body START -->
        <div class="card-body py-0">
          <div class="d-sm-flex align-items-start text-center text-sm-start">
            <div>
              <!-- Avatar -->
              <div class="avatar avatar-xxl mt-n5 mb-3">
                {% thumbnail page.image "100x100" crop="center" as im %}
                    <img class="avatar-img rounded-circle border border-white border-3" src="{{ im.url }}" alt="{{ page.page_name }} | {{ page.page_type }} | Club Swing">
                {% endthumbnail %}
              </div>
            </div>
            <div class="ms-sm-4 mt-sm-3">
              <!-- Info -->
              <h1 class="mb-0 h5">{{ page.page_name }} <i class="bi bi-patch-check-fill text-success small"></i></h1>
              <p>{% avg_rating page.id %} {% autoescape off %}{% avg_stars page.id %}{% endautoescape %} ({% review_count page.id %})</p>
            </div>
            <!-- Button -->
            <div class="d-flex mt-3 justify-content-center ms-sm-auto">
              {% if request.user.is_authenticated %}
                {% if page.user.username == request.user.username %}
                  <a href="/edit_page/{{page.id}}/{{page.page_type|slugify}}/{{page.slug}}" >
                    <button class="btn btn-danger-soft me-2" type="button"> <i class="bi bi-pencil-fill pe-1"></i> Edit </button>
                  </a>
                {% else %}
                {% if request.user.id|is_following_page:page.id %}
                    <form action="{% url 'pages:page_follow' page.slug %}" method="post">
                        {% csrf_token %}
                    <button class="btn btn-primary-soft me-2" type="submit"> <i class="bi bi-person-minus pe-1"></i> Unfollow </button>
                    </form>
                {% else %}
                    <form action="{% url 'pages:page_follow' page.slug %}" method="post">
                        {% csrf_token %}
                    <button class="btn btn-primary me-2" type="submit"> <i class="bi bi-person-plus pe-1"></i> Follow </button>
                    </form>
                {% endif %}
                {% endif %}
              <div class="dropdown">
                <!-- Card share action menu -->
                <button class="icon-md btn btn-light" type="button" id="profileAction2" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-three-dots"></i>
                </button>
                <!-- Card share action dropdown menu -->
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                  <li><a class="dropdown-item" href="/new_page_post/{{page.id}}"> <i class="bi bi-bookmark fa-fw pe-2"></i>New Page Post</a></li>
                  {% if page.user.username == request.user.username %}
                    <li><a class="dropdown-item" href="/add_host/{{page.id}}"> <i class="bi bi-person fa-fw pe-2"></i>Add Event Host</a></li>
                    {% endif %}
                  {% if request.user.id|is_page_host:page.id or  page.user.username == request.user.username %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/master-events/{{page.id}}/{{page.slug}}.html"> <i class="bi bi-calendar fa-fw pe-2"></i>Master Events</a></li>
                    <li><a class="dropdown-item" href="/add-club-event/{{page.id}}/{{page.slug}}.html"> <i class="bi bi-calendar fa-fw pe-2"></i>Add Master Event</a></li>
                  {% endif %}
                  {% comment %} <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Share page in a message</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-file-earmark-pdf fa-fw pe-2"></i>Save your profile to PDF</a></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-lock fa-fw pe-2"></i>Lock profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#"> <i class="bi bi-gear fa-fw pe-2"></i>Profile settings</a></li> {% endcomment %}
                </ul>
              </div>
                {% endif %}
            </div>
          </div>
          <!-- List profile -->
         <div id="page_menu">
          <ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">
            <li class="list-inline-item"><i class="bi bi-briefcase me-1"></i> {{ page.page_type }}</li>
            <li class="list-inline-item"><i class="bi bi-geo-alt me-1"></i> {{ page.town_city }}, {{page.county}}</li>
            <li class="list-inline-item"><i class="bi bi-calendar2-plus me-1"></i> Joined on {{ page.page_created|date:"d M Y" }}</li>
          </ul>
        </div>
        </div>
        <!-- Card body END -->
        <div class="card-footer mt-3 pt-2 pb-0">
          <!-- Nav profile pages -->
          <ul class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0">
            <li class="nav-item"> <a class="nav-link {{ feed_active }}" href="{% url 'pages:page_feed' page.page_type|slugify page.slug %}#page_menu">&nbsp Feed </a> </li>
            <li class="nav-item"> <a class="nav-link {{ about_active }}" href="{% url 'pages:detail' page.page_type|slugify page.slug %}#page_menu"> About </a> </li>
            <li class="nav-item"> <a class="nav-link {{ gallery_active }}" href="#page_menu"> Gallery</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#page_menu"> Events</a> </li>
            <li class="nav-item"> <a class="nav-link {{ reviews_active }}" href="{% url 'pages:page_reviews' page.page_type|slugify page.slug %}#page_menu"> Reviews</a> </li>
          </ul>
      </div>
      </div>
      <!-- Card END -->
