{% load thumbnail %}
<div class="col-sm-6 col-xl-4">
    <!-- Event item START -->
    <div class="card h-100">
      <div class="position-relative">
        {% thumbnail event.image "400x400" crop="center" as im %}
        <img class="img-fluid rounded-top" src="{{ im.url }}" alt="">
                        {% endthumbnail %}
        {% comment %} <div class="badge bg-danger text-white mt-2 me-2 position-absolute top-0 end-0">
          Online
        </div> {% endcomment %}
      </div>
      <!-- Card body START -->
      <div class="card-body position-relative pt-0">
        <!-- Tag -->
        <a class="btn btn-xs btn-primary mt-n3" href="/event/{{event.id}}">Spa training </a>
        <h6 class="mt-3"> <a href="/swinger-club-event/{{event.id}}/{{event.location.slug}}/{{event.date|date:"Y-m-d"}}/{{event.event.title|slugify}}.html"> {{ event.title }} </a> </h6>
        <!-- Date time -->
        <p class="mb-0 small"> <i class="bi bi-calendar-check pe-1"></i> {{ event.date|date:"D, jS M, Y" }} at {{ event.start_time }} </p>
        <p class="small"> <i class="bi bi-geo-alt pe-1"></i> {{ event.location }}, {{ event.location.town_city }}, {{ event.location.county }} </p>
        <!-- Button -->
        <div class="d-flex mt-3 justify-content-between">
          <!-- Interested button -->
          <div class="w-100">
            <input type="checkbox" class="btn-check d-block" id="Interested1">
            <label class="btn btn-sm btn-outline-success d-block" for="Interested1"><i class="fa-solid fa-thumbs-up me-1"></i> Add Event Date</label>
          </div>
          <div class="dropdown ms-3">
            <a href="#" class="btn btn-sm btn-primary-soft" id="eventActionShare" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-share-fill"></i>
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="eventActionShare">
              <li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-1"></i> Send via Direct Message</a></li>
              <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-1"></i> Share to News Feed </a></li>
              <li><a class="dropdown-item" href="#"> <i class="bi bi-people fa-fw pe-1"></i> Share to a group</a></li>
              <li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-1"></i> Share post via …</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"> <i class="bi bi-person fa-fw pe-1"></i> Share on a friend's profile</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Card body END -->
   </div>
   <!-- Event item END -->
  </div>