{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Club Swing | Pages | Swinger Venues{% endblock title %}
{% block description %}Swinger club list of swingers clubs in the United Kingdom, France and Spain {% endblock %}

{% block content %}
						<div class="card">
							<!-- Card header START -->
							<div class="card-body border-0">
								<h5 class="card-title"> Search Results</h5>								
							</div>
							
						</div>
						{% comment %} {% for page in pages %} {% endcomment %}


{% if profiles %}
									{% for y in profiles %}
							<div class="card mb-0">
										<div class="card-body">
											<div class="row position-relative">
												<div class="col-auto">
												<!-- Blog image -->
												<div class="avatar">
													{% thumbnail y.image "100x100" crop="center" as im %}
														<img class="avatar-img rounded-circle border border-white border-3 float-end" src="{{ im.url }}" alt="">
													{% endthumbnail %}
												</div>
												</div>
												<div class="col">
                                                   	<h6><a href="{% url 'profiles:detail' y.user %}" class="btn-link stretched-link text-reset fw-bold">{{y.display_name}}</a></h6>
													<a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">{{y.page_type}}</a>
													<p class="small text-secondary mb-2 bi bi-geo-alt me-1"> {{y.profile_type}},{{y.location}}</p>
													<p class="small text-secondary mb-2 me-1"> {{y.status}}</p>
												</div>
											</div>
										</div>
							</div>
									{% endfor %}
{%endif%}

{% if pages %}
                                {% for y in pages %}
                            <div class="card mb-0">
                                    <div class="card-body">
                                        <div class="row position-relative">
                                            <div class="col-auto">
                                            <!-- Blog image -->
                                            <div class="avatar">
                                                {% thumbnail y.image "100x100" crop="center" as im %}
                                                    <img class="avatar-img rounded-circle border border-white border-3 float-end" src="{{ im.url }}" alt="">
                                                {% endthumbnail %}
                                            </div>
                                            </div>
                                            <div class="col">
                                                   <h6><a href="{% url 'pages:detail' y.page_type|slugify y.slug %}" class="btn-link stretched-link text-reset fw-bold">{{y.page_name}}</a></h6>
                                                <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">{{y.page_type}}</a>
                                                <p class="small text-secondary mb-2 bi bi-geo-alt me-1"> {{y.page_type}},{{y.town_city}}</p>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                                {% endfor %}
{% endif %}


{% if events %}
                                {% for y in events %}
                            <div class="card mb-0">
                                    <div class="card-body">
                                        <div class="row position-relative">
                                            <div class="col-auto">
                                            <!-- Blog image -->
                                            <div class="avatar">
                                                {% thumbnail y.image "100x100" crop="center" as im %}
                                                    <img class="avatar-img rounded-circle border border-white border-3 float-end" src="{{ im.url }}" alt="">
                                                {% endthumbnail %}
                                            </div>
                                            </div>
                                            <div class="col">
                                                   {% comment %} <h6><a href="{% url 'events:detail' y.page_type|slugify y.slug %}" class="btn-link stretched-link text-reset fw-bold">{{y.page_name}}</a></h6> {% endcomment %}
                                                <h6><a href="#" class="btn-link stretched-link text-reset fw-bold">{{y.title}}</a></h6>
                                                <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">{{y.page_type}}</a>
                                                <p class="small text-secondary mb-2 me-1"> @{{y.organiser}}, {{y.location}}</p>
                                                <p class="small text-secondary mb-2 me-1"> {{y.description|truncatewords:30}}</p>
                                            </div>
                                        </div>
                                    </div>
                        </div>
                                {% endfor %}
{% endif %}


{% endblock %}