{% load thumbnail %}
{% load custom_filters %}
<!-- Card START -->
{% comment %} {% include "includes/profile_header.html" with user=user.profile.user %} {% endcomment %}
<div class="card"> 
    <div class="h-200px rounded-top" style="background-image:url(https://clubs4fun.s3.amazonaws.com/static/{{ user.profile.cover_image }}); background-position: center; background-size: cover; background-repeat: no-repeat;">
    </div>
        <!-- Card body START -->
        <div class="card-body py-0">
            <div class="d-sm-flex align-items-start text-center text-sm-start">
                <div>
                    <!-- Avatar -->
                    <div class="avatar avatar-xxl mt-n5 mb-3">
                        {% thumbnail user.profile.image "100x100" crop="center" as im %}
                            <img class="avatar-img rounded-circle border border-white border-3" src="{{ im.url }}" alt="">
                        {% endthumbnail %}
                    </div>
                </div>
                <div class="ms-sm-4 mt-sm-3">
                    <!-- Info -->
                    <h1 class="mb-0 h5">{{ user.profile.display_name }} <i class="bi bi-patch-check-fill text-success small"></i></h1>
                    <p>@{{ user.username }} </p>
                </div>
            </div>
            <div>
                <!-- Button -->
                <div class="d-flex mt-1 justify-content-center ms-sm-auto">
                    {% if user.username == request.user.username %}
                    <a href="/edit_profile/{{id}}" >
                        <button class="btn btn-danger-soft me-2" type="button"> <i class="bi bi-pencil-fill pe-1"></i> Edit </button>
                    </a>
                    {% else %}
                        {% if request.user.id|is_following:target_user %}
                            <form action="{% url 'profiles:follow' user.username %}" method="post">
                                {% csrf_token %}
                            <button class="btn btn-primary-soft me-2" type="submit"> <i class="bi bi-person-minus pe-1"></i> Unfollow </button>
                            </form>
                        {% else %}
                            <form action="{% url 'profiles:follow' user.username %}" method="post">
                                {% csrf_token %}
                            <button class="btn btn-primary me-2" type="submit"> <i class="bi bi-person-plus pe-1"></i> Follow </button>
                            </form>
                        {% endif %}
                    {% endif %}
                    <div class="dropdown">
                    <!-- Card share action menu -->
                    <button class="icon-md btn btn-light" type="button" id="profileAction2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    <!-- Card share action dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">                        
                    {% if user.username == request.user.username %}
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Upload Cover Image</a></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-file-earmark-pdf fa-fw pe-2"></i>Upload Avatar</a></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-lock fa-fw pe-2"></i>Lock profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-gear fa-fw pe-2"></i>Profile settings</a></li>
                    {% else %}
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-ban fa-fw pe-2"></i>Block profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-exclamation-triangle-fill fa-fw pe-2"></i>Report User</a></li>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-sm-flex align-items-start text-center text-sm-start mt-3">
        <!-- List profile -->
            <ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">
                <li class="list-inline-item"><i class="bi bi-briefcase me-1"></i> {{ user.profile.profile_type }}</li>
                <li class="list-inline-item"><i class="bi bi-geo-alt me-1"></i> {{ user.profile.location }}</li>
                <li class="list-inline-item"><i class="bi bi-calendar2-plus me-1"></i> Joined on {{ user.date_joined|date:"d M Y" }}</li>
            </ul>
        </div>
    </div>
    <!-- Card body END -->
    <div class="card-footer mt-3 pt-2 pb-0">
        <!-- Nav profile pages -->

        {% comment %} {% include 'includes/nav_profile_pages.html'%} {% endcomment %}
        <ul class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0">
        <li class="nav-item"> <a class="nav-link {{ feed_active  }}" href="{% url 'profiles:feed' user.username %}"> Posts </a> </li>
        <li class="nav-item"> <a class="nav-link {{ about_active  }}" href="{% url 'profiles:detail' user.username %}"> About </a> </li>
        <li class="nav-item"> <a class="nav-link" href="{% url 'profiles:photos' user.username %}"> Photos</a> </li>
        {% comment %} <li class="nav-item"> <a class="nav-link" href="my-profile-videos.html"> Videos</a> </li> {% endcomment %}
        <li class="nav-item"> <a class="nav-link" href="{% url 'profiles:detail' user.username %}"> Events</a> </li>
        {% comment %} <li class="nav-item"> <a class="nav-link" href="my-profile-activity.html"> Activity</a> </li> {% endcomment %}
        </ul>
    </div>
</div>
<!-- Card END -->
