{% extends "feed/homepage.html" %}
{% load crispy_froms_tags %}

{% block title %}Create a new post{% endblock %}

{% block head %}
{{ wizard.form.media }}
{% endblock head %}

{% block content %}
<div class="card">
    <div class="card-header border-0 pb-0">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                New Feed Post
            </div>
        </div>
    </div>
    <!-- Start card body -->
    <div>
        <div class="form_group">
            <form method="post" enctype="multipart/form-data">
                <table style="border: 15px">
                {% csrf_token %}
                {{ form as_p }}
                <tr>
                    <td>
                        <input type="submit" value="Save">
                    </td>
                </tr>

                </table>
        </div>
    </div> <!-- end card body -->
</div> <!-- end card    -->

{% endblock content %}