{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Club Swing - Homepage{% endblock title %}

{% block content %}




							<!-- Share feed START -->
					{% comment %} <div class="card card-body">
						<div class="d-flex mb-3">
							<!-- Avatar -->
							<div class="avatar avatar-xs me-2">
								<a href="#"> <img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt=""> </a>
							</div>
							<!-- Post input -->
							<form class="w-100">
								<textarea class="form-control pe-4 border-0" rows="2" data-autoresize placeholder="Share your naughty thoughts..."></textarea>
							</form>
						</div>
						<!-- Share feed toolbar START -->
						<ul class="nav nav-pills nav-stack small fw-normal">
							<li class="nav-item">
								<a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionPhoto"> <i class="bi bi-image-fill text-success pe-2"></i>Photo</a>
							</li>
							<li class="nav-item">
								<a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#feedActionVideo"> <i class="bi bi-camera-reels-fill text-info pe-2"></i>Video</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link bg-light py-1 px-2 mb-0" data-bs-toggle="modal" data-bs-target="#modalCreateEvents"> <i class="bi bi-calendar2-event-fill text-danger pe-2"></i>Event </a>
							</li>
							<li class="nav-item">
								<a class="nav-link bg-light py-1 px-2 mb-0" href="#!" data-bs-toggle="modal" data-bs-target="#modalCreateFeed"> <i class="bi bi-emoji-smile-fill text-warning pe-2"></i>Feeling /Activity</a>
							</li>
							<li class="nav-item dropdown ms-lg-auto">
								<a class="nav-link bg-light py-1 px-2 mb-0" href="#" id="feedActionShare" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-three-dots"></i>
								</a>
								<!-- Dropdown menu -->
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="feedActionShare">
									<li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Create a poll</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Ask a question </a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Help</a></li>
								</ul>
							</li>
						</ul>
						<!-- Share feed toolbar END -->
					</div> {% endcomment %}
					<!-- Share feed END -->

					<div id="posts-container">
						{% for post in posts %}
						{% include 'includes/post.html' %}
						{% endfor%}
					</div>
					<div class="row mx-1 mx-md-4">
						<div class="col-4 text-start">
						  {% if page_obj.has_previous %}
							  {% comment %} <a class="btn btn-small" href="?page=1">&laquo; first</a> {% endcomment %}
							  <a class="btn btn-small" href="?page={{ page_obj.previous_page_number }}">previous</a>
						  {% endif %}
						</div>      
						<div class="col-4 text-center text-middle my-auto">
							  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
						</div>      
						<div class="col-4 text-end ">
						  {% if page_obj.has_next %}
							  <a class="btn btn-small" href="?page={{ page_obj.next_page_number }}">next</a>
							  {% comment %} <a class="btn btn-small" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endcomment %}
						  {% endif %}
						</div>
					</div>
		  
					<!-- Load more button START -->
					{% comment %} <a href="#!" role="button" class="btn btn-loader btn-primary-soft" data-bs-toggle="button" aria-pressed="true">
						<span class="load-text"> Load more </span>
						<div class="load-icon">
							<div class="spinner-grow spinner-grow-sm" role="status">
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>
					</a> {% endcomment %}
					<!-- Load more button END -->



              


{% endblock  %}

<!-- RIGHT NAVBAR START -->
{% block rightbar %}

{% endblock %}
<!-- RIGHT NAVBAR END -->