{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Club Swing | Pages | Swinger Venues{% endblock title %}
{% block description %}Swinger club list of swingers clubs in the United Kingdom, France and Spain {% endblock %}

{% block content %}

						<div class="card">
							<!-- Card header START -->
							<div class="card-body border-0">
								<h5 class="card-title"> inbox</h5> 
							</div>
						</div>


							<div class="card mb-0">
						{% for message in message %}
										{% if message.read == False %}
										<div class="card-body border-start border-danger border-3 ms-0 my-2 p-1 ">
										{%else%}
										<div class="card-body ms-0 my-2 p-1 ">
										{%endif%}
											<div class="row position-relative border-bottom ms-0 ps-0">
												<div class="col-auto">
												<!-- Blog image -->
													<div class="avatar avatar-xl">
														{% thumbnail message.msg_from.profile.image "100x100" crop="center" as im %}
															<img class="rounded-circle border border-white border-3 float-end" src="{{ im.url }}" alt="">
														{% endthumbnail %}
													</div>
												</div>
												<div class="col">
													<h6><a href="{% url 'messaging:message' message.msg_from_id %}" class="btn-link stretched-link text-reset fw-bold">{{message.msg_from.profile.display_name}}</a></h6>
													
													<p class="small text-secondary mb-2 bi bi-geo-alt me-1"> {{ message.msg_from.profile.profile_type}} - {{ message.msg_from.profile.age}} - {{ message.msg_from.profile.location}}</p>
													<p class="small text-secondary mb-2 me-1"> {{ message.message}}</p>
												</div>
											</div>
										</div>
						{% endfor %}
							</div>



{% endblock %}