{% extends "base.html" %}
{% load thumbnail %}

{% block content %}

 

    <!-- Container START -->
 
        <!-- Chat conversation START -->
        <div class="col-lg-8 col-xxl-9">
          <div class="card rounded-start-lg-0 border-start-lg-0">
            <div class="card-body">
  
  
  
                <!-- Conversation item START -->
                  <!-- Top avatar and status START -->
                  {% for profile_head in profile %}
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex mb-2 mb-sm-0">
                      <div class="flex-shrink-0 avatar me-2">
                        {% thumbnail profile_head.image "100x100" crop="center" as im %}
                        <img class="avatar-img rounded-circle" src="{{ im.url }}" >
                        {% endthumbnail %}
                      </div>
                      <div class="d-block">
                        <h6 class="mb-0 mt-1">{{ profile_head.display_name }}</h6>
                        <div class="small text-secondary">{{profile_head.profile_type}}, {{profile_head.age}}, {{profile_head.location}}</div>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <!-- Call button -->
                      {% comment %} <a href="#!" class="icon-md rounded-circle btn btn-primary-soft me-2 px-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Audio call" data-bs-original-title="Audio call"><i class="bi bi-telephone-fill"></i></a>
                      <a href="#!" class="icon-md rounded-circle btn btn-primary-soft me-2 px-2" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Video call" data-bs-original-title="Video call"><i class="bi bi-camera-video-fill"></i></a> {% endcomment %}
                      <!-- Card action START -->
                      <div class="dropdown">
                        <a class="icon-md rounded-circle btn btn-primary-soft me-2 px-2" href="#" id="chatcoversationDropdown" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <i class="bi bi-three-dots"></i></a>               
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="chatcoversationDropdown">
                          <li><a class="dropdown-item" href="#"><i class="bi bi-person-check me-2 fw-icon"></i>View profile</a></li>
                          <li><a class="dropdown-item" href="#"><i class="bi bi-trash me-2 fw-icon"></i>Delete chat</a></li>
                          <li class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#"><i class="bi bi-archive me-2 fw-icon"></i>Report</a></li>
                        </ul>
                      </div>
                      <!-- Card action END -->
                    </div>
                  </div>
                  <!-- Top avatar and status END -->
                  <hr>
                 

						<div class="d-flex mb-0">
							<div class="d-grid gap-2 col-6 mx-auto">
								<a class = "btn btn-outline-primary btn-sm" href="{% url 'messaging:send' profile_head.user_id %}">Send Reply</a>
							</div>
						</div>
                  {% endfor %}

                  <hr>
                  <!-- Chat conversation START -->
  
                    <!-- Chat time -->
                    {% regroup message_list by date_sent as newlist %}
                    {% for x in newlist %}
                      <div class="text-center small my-2">{{ x.grouper }}</div>
                      {% for message in x.list %}
                        {% if message.msg_from.username != user.username %}
                        <!-- Chat message left -->
                        <div class="d-flex me-5 mb-1">
                              <div class="d-flex flex-column align-items-start">
                                <div class="bg-body text-secondary border border-success p-2 px-3 rounded-2">{{message.message|linebreaks}}</div>
                                <div class="small my-2">{{message.time_sent|date:"H:i"}}</div>
                              </div>
                        </div>
                        <!-- Chat message right -->
                        {% else %}
                        <div class="d-flex justify-content-end ms-5 mb-1">
                            <div class="d-flex flex-column align-items-end">
                              <div class="bg-body text-decondary border border-primary p-2 px-3 rounded-2">{{message.message|linebreaks}}</div>
                              <div class="d-flex my-2">
                                <div class="small text-secondary">{{message.time_sent|date:"H:i"}}</div>
                                <div class="small ms-2"><i class="fa-solid fa-check-double "></i></div>
                              </div>
                            </div>
                        </div>
                        {% endif %}
                      {% endfor %}
                      <hr>
                    {% endfor %}


                    <!-- Chat time -->

                  <!-- Chat conversation END -->
                <!-- Conversation item END -->
  
  
  
  
            </div>
          </div>
        </div>
        <!-- Chat conversation END -->
      </div> <!-- Row END -->
      <!-- =======================
      Chat END -->
  
{% endblock %}