<!DOCTYPE html>
{% load static %}{% load thumbnail %}{% load allauth account %}
{% load custom_blog_filters %}
<html lang="en">
	<head>
		<title>	{% block head_title %}{% endblock %}{% block title %}{% endblock %}</title>
		<!-- Meta Tags -->
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, shrink-to-fit=yes">

		<!-- Dark mode -->
		<script>
			const storedTheme = localStorage.getItem('theme')
	
			const getPreferredTheme = () => {
				if (storedTheme) {
					return storedTheme
				}
				return window.matchMedia('(prefers-color-scheme: light)').matches ? 'light' : 'light'
			}

			const setTheme = function (theme) {
				if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
					document.documentElement.setAttribute('data-bs-theme', 'dark')
				} else {
					document.documentElement.setAttribute('data-bs-theme', theme)
				}
			}

			setTheme(getPreferredTheme())

			window.addEventListener('DOMContentLoaded', () => {
				var el = document.querySelector('.theme-icon-active');
				if(el != 'undefined' && el != null) {
					const showActiveTheme = theme => {
					const activeThemeIcon = document.querySelector('.theme-icon-active use')
					const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
					const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

					document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
						element.classList.remove('active')
					})

					btnToActive.classList.add('active')
					activeThemeIcon.setAttribute('href', svgOfActiveBtn)
				}

				window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
					if (storedTheme !== 'light' || storedTheme !== 'dark') {
						setTheme(getPreferredTheme())
					}
				})

				showActiveTheme(getPreferredTheme())

				document.querySelectorAll('[data-bs-theme-value]')
					.forEach(toggle => {
						toggle.addEventListener('click', () => {
							const theme = toggle.getAttribute('data-bs-theme-value')
							localStorage.setItem('theme', theme)
							setTheme(theme)
							showActiveTheme(theme)
						})
					})

				}
			})
			
		</script>

		<!-- Favicon -->
		{% comment %} <link rel="shortcut icon" href="static/images/favicon-32x32.png"> {% endcomment %}

		<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'images/site.webmanifest' %}">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		<!-- Google Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">

		<!-- Plugins CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/font-awesome/css/all.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/OverlayScrollbars-master/css/OverlayScrollbars.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/tiny-slider/dist/tiny-slider.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/glightbox-master/dist/css/glightbox.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/dropzone/dist/dropzone.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/flatpickr/dist/flatpickr.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/plyr/plyr.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'vendor/zuck.js/dist/zuck.min.css' %}">
		
  {% comment %}<script> src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script> {% endcomment %}


		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		{% block head %}{% endblock %}
	</head>
<body>
<!-- Pre loader -->
<div class="preloader">
	<div class="preloader-item">
		<div class="spinner-grow text-primary"></div>
	</div>
</div>
<!-- =======================
Header START -->
<header class="navbar-light fixed-top header-static bg-mode">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">

			<div class="d-flex align-items-center d-lg-none">
				<button class="border-0 bg-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSideNavbar" aria-controls="offcanvasSideNavbar">
					<span class="btn btn-primary"><i class="fa-solid fa-sliders-h"></i></span>
				</button>
			</div>

					<!-- Logo START -->
					<a class="navbar-brand d-flex align-items-start" href="/">
						<img class="light-mode-item navbar-brand-item rounded-circle border border-danger border-2" src="https://clubs4fun.s3.amazonaws.com/static/images/logo_small.png" alt="logo ">
						<img class="dark-mode-item navbar-brand-item rounded-circle border border-danger border-2" src="https://clubs4fun.s3.amazonaws.com/static/images/logo_small.png" alt="logo">
					</a>
					<!-- Logo END -->


				<!-- Responsive navbar toggler -->
				<button class="navbar-toggler ms-auto icon-md btn btn-light p-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-animation">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</button>

			<div class="d-flex align-items-end">
				<a class = "btn btn-danger-soft me-2" href="{% url 'account_signup'%}">Sign Up</a>
				<a class = "btn btn-primary-soft me-2" href="{% url 'account_login'%}">Login</a>
			</div>
		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
<!-- =======================
Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
	<!-- Container START -->
	<div class="container scrollbar-gutter">
		<div class="row g-4">
			<!-- Sidenav START -->

			<!-- Sidenav END -->

                
			<!-- Main content START -->
			<div class="container">
				{% block content %}{% endblock content %}
			</div>
			<!-- Main content END -->

		</div> <!-- Row END -->
	</div>
	<!-- Container END -->



</main>
<!-- **************** MAIN CONTENT END **************** -->


<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Vendors -->
<script src="{% static 'vendor/tiny-slider/dist/tiny-slider.js' %}"></script>
<script src="{% static 'vendor/OverlayScrollbars-master/js/OverlayScrollbars.min.js' %}"></script>
<script src="{% static 'vendor/choices.js/public/assets/scripts/choices.min.js' %}"></script>
<script src="{% static 'vendor/glightbox-master/dist/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/flatpickr/dist/flatpickr.min.js' %}"></script>
<script src="{% static 'vendor/plyr/plyr.js' %}"></script>
<script src="{% static 'vendor/dropzone/dist/min/dropzone.min.js' %}"></script>
<script src="{% static 'vendor/zuck.js/dist/zuck.min.js' %}"></script>
{% comment %} <script src="{% static 'js/zuck-stories.js' %}"></script> {% endcomment %}

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Theme Functions -->
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/additional.js' %}"></script>


</body>
</html>