{% extends "base.html" %}

{% load thumbnail %}

{% block title %}{{ page.page_name }} - Profile{% endblock title %}

{% block content %}

{% include 'includes/page_head.html' with about_active="active" %}
    <!-- Card about item START -->
    <div class="card">
      <!-- Card header START -->
      <div class="card-header border-0 pb-0">
        <h5 class="card-title"> About</h5> 
      </div>
      <!-- Card header END -->
      <!-- Card body START -->
      <div class="card-body">
          {% comment %} <p><strong>{{ user.profile.intro|linebreaks}}</strong></p> {% endcomment %}
          <p>{{ page.description|linebreaks}}</p>
              <hr>
        <div class="row g-4 align-items-center">
          <div class="col-lg-6">
            <!-- Address START -->
            <h6>Address</h6>
            <p>
              {{ page.address1 }}<br>
              {% if page.address2 != None %}{{ page.address2 }}<br>{%endif%}
              {{page.county}}<br>
              {{page.town_city}}<br>
              {{page.post_code}}
            </p>
            <!-- Address END -->
          </div>
          <div class="col-lg-6">
            <!-- Map START -->     
            <a href="https://www.google.com/maps/dir/?api=1&destination={{page.page_name|urlencode}}+{{page.address1|urlencode}}+{{page.county|urlencode}}+{{page.post_code|urlencode}}" class="btn btn-primary btn-small">Get Directions</a>
            <!-- Map END -->
          </div>
        </div>
      </div>
      <!-- Card body END -->
    </div>
    <!-- Card feed item END -->

{% endblock %}
{% block rightbar %}
<!-- Card about item START -->
{% include 'includes/socials.html' %}
{% endblock %}