{% extends "base.html" %}
{% load thumbnail %}


{% block title %}{{page.page_name}} - Reviews{% endblock title %}

{% block content %}
{% include 'includes/page_head.html' with reviews_active="active" %}
							<!-- Share feed START -->
					<div class="card card-body">
						<div class="d-flex mb-0">
							<div class="d-grid gap-2 col-6 mx-auto">
								<a class = "btn btn-outline-primary btn-sm" href="{% url 'pages:add_review' page.id %}">Add Review</a>
							</div>
						</div>
					</div>
					<!-- Share feed END -->

					<div id="posts-container">
						{% for review in page_reviews %}
						{% if user.is_authenticated %}
						{% include 'includes/page_review.html' %}
						{% else %}
						{% include 'includes/page_review_public.html' %}
						{% endif %}
						<hr>
						{% empty %}
							{% include 'includes/no_reviews.html' %}
						{% endfor%}
					</div>
             
					<!-- Load more button START -->

					<!-- Load more button END -->



              


{% endblock  %}

